<header>
	<%= link_to logo,root_path %> <!-- logo was replace by the function define in helper/aplication_helper.rb  -->

	<nav class="round">
		<ul>
			<li><%= link_to "home" , root_path  %></li>
			<li><%= link_to "help" , help_path  %></li>
			<li><%= link_to "sign in" , '#'  %></li>
		</ul>
    </nav>

</header>